@font-face {
	font-family: Salsa-Regular;
	src: url("../fonts/Salsa-Regular.ttf");
}

@font-face {
	font-family: Rubik;
	src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
	font-family: Ruda;
	src: url("../fonts/Ruda-VariableFont_wght.ttf");
}
